{% extends 'base.html' %}

{% block content %}

<div class="button-group">
    <a href="{% url 'reviews:ticket-create' %}" aria-label="Créer un ticket pour demander une critique" class="btn">
        Demander une critique
    </a>
    <a href="{% url 'reviews:ticket-and-review-create' %}" aria-label="Créer un ticket et une critique en une seule étape" class="btn">
        Créer une critique
    </a>
</div>

{% for item in feed_items %}

    <!-- TICKETS -->
    {% if item.content_type == 'TICKET' %}
        {% include "reviews/snippets/ticket_card_snippet.html" with ticket=item embedded=False show_actions=False show_review_button=item.show_review_button %}
    {% endif %}

    <!-- REVIEWS -->
    {% if item.content_type == 'REVIEW' %}
        {% include "reviews/snippets/review_card_snippet.html" with review=item show_actions=False %}
    {% endif %}

    <!-- EMPTY FEED -->
    {% empty %}
    <p class="card-content">Votre flux est vide pour le moment. Créez un ticket ou une critique pour commencer !</p>

{% endfor %}

{% endblock content %}
