{% extends 'base.html' %}

{% block content %}
<form method="post" enctype="multipart/form-data" class="form-card">
    {% csrf_token %}

    <div class="card-container">
        <div class="card">
            <div class="card-content">
                <h2 class="banner-title">
                {% if form.instance.id %}Modifier votre critique{% else %}Créer une critique{% endif %}
                </h2>

                <!-- Separation line -->
                <hr class="section-separator">

                <!-- Ticket section -->
                <h3 class="banner-title">Vous êtes en train de poster en réponse à </h3>

                <div class="ticket-card">
                    <div class="ticket-header">
                        <p class="ticket-label">{{ ticket.user.username }} a demandé une critique</p>
                        <p class="ticket-date">{{ ticket.time_created|date:"H:i, d F Y" }}</p>
                    </div>

                    <p class="ticket-title">{{ ticket.title }}</p>
                    <p class="ticket-description">{{ ticket.description|linebreaksbr }}</p>

                    {% if ticket.image %}
                        <img src="{{ ticket.image.url }}" alt="image du ticket" class="ticket-image">
                    {% endif %}
                </div>

                <!-- Separation line -->
                <hr class="section-separator">

                <!-- Review section -->
                <h3 class="banner-title">Critique</h3>

                <p class="form-field">
                    <label>Titre</label>
                    {{ form.headline }}
                    {% for error in form.headline.errors %}
                        <p class="form-message">{{ error }}</p>
                    {% endfor %}
                </p>

                <p class="form-field">
                    <label>Note</label>
                    <div class="field-rating">
                        {% for radio in form.rating %}
                            <label>
                                {{ radio.tag }}
                                {{ radio.choice_label }}
                            </label>
                        {% endfor %}
                    </div>
                    {% for error in form.rating.errors %}
                        <p class="form-message">{{ error }}</p>
                    {% endfor %}
                </p>

                <p class="form-field">
                    <label>Commentaire</label>
                    {{ form.body }}
                    {% for error in form.body.errors %}
                        <p class="form-message">{{ error }}</p>
                    {% endfor %}
                </p>

                <!-- Submit button -->
                <div class="form-submit">
                    <button type="submit" class="btn">Envoyer</button>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock content %}
