{% extends 'base.html' %}

{% block content %}
<form method="post" enctype="multipart/form-data" class="form-card">
    {% csrf_token %}

    <div class="card-container">
        <div class="card">
            <div class="card-content">
                <h2 class="banner-title">Créer une critique</h2>

                <!-- Separation line -->
                <hr class="section-separator">

                <!-- Ticket section -->
                <h3 class="banner-title">Livre/Article</h3>
                {% include "reviews/snippets/ticket_form_snippet.html" with ticket_form=ticket_form %}

                <!-- Separation line -->
                <hr class="section-separator">

                <!-- Review section -->
                {% include "reviews/snippets/review_form_snippet.html" with form=review_form %}
            </div>
        </div>
    </div>
</form>
{% endblock content %}
