{% extends 'base.html' %}

{% block content %}
<div class="card-container">
    <div class="card">
        <div class="card-content">
            <h2 class="banner-title">
                {% if form.instance.id %}Modifier votre ticket{% else %}Créer un ticket{% endif %}
            </h2>

            <form method="post" enctype="multipart/form-data" class="form-card">
                {% csrf_token %}

                {% include "reviews/snippets/ticket_form_snippet.html" with ticket_form=form %}

                <div class="form-submit">
                    <button type="submit" class="btn">Envoyer</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
