{# Display the current user's tickets and reviews. #}

{% extends 'base.html' %}

{% block content %}

<h2 class="page-title">Vos posts</h2>

{% for item in feed_items %}
    <!-- TICKETS -->
    {% if item.content_type == 'TICKET' %}
        {% include "reviews/snippets/ticket_card_snippet.html" with ticket=item show_actions=True show_review_button=item.show_review_button %}
    {% endif %}

    <!-- REVIEWS -->
    {% if item.content_type == 'REVIEW' %}
        {% include "reviews/snippets/review_card_snippet.html" with review=item show_actions=True %}
    {% endif %}

    <!-- EMPTY -->
    {% empty %}
    <p class="card-content">Vous n'avez publié aucun ticket ni critique pour le moment.</p>

{% endfor %}

{% endblock content %}
