{# Authentication page. Contains signup and login sections. #}

{% extends 'base.html' %}

{% block content %}
<div class="card-container">
    <div class="card">
        <div class="card-content">
            <h2>Inscrivez-vous maintenant</h2>
            <a href="{% url 'authentication:signup' %}">
                <button type="button" class="btn">S'inscrire</button>
            </a>
        </div>
    </div>

    <div class="card">
        <div class="card-content">
            <h2>Connectez-vous</h2>
            <form method="post" class="form-generic">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn">Se connecter</button>
            </form>
            {% if message %}
                <p class="form-message">{{ message }}</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
