{# Signup page with registration form. #}

{% extends 'base.html' %}
{% block content %}
<div class="card-container">
    <div class="card">
        <div class="card-content">
            <h2>Inscrivez-vous</h2>

            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <p class="form-message">{{ error }}</p>
                {% endfor %}
            {% endif %}

            <form method="post" class="form-generic">
                {% csrf_token %}

                {% for field in form %}
                    <p>
                        {{ field.label_tag }}
                        {{ field }}
                    </p>

                    {% if field.errors %}
                        {% for error in field.errors %}
                            <p class="form-message">{{ error }}</p>
                        {% endfor %}
                    {% endif %}
                {% endfor %}

                <div class="ticket-actions">
                    <a href="{% url 'authentication:login' %}" class="btn">Retourner</a>
                    <button type="submit" class="btn">S'inscrire</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}

