{% extends 'base.html' %}
{% block content %}
<div class="card-container">
    <div class="card">
        <div class="card-content">
            <h2>Inscription</h2>
            {% if form.errors %}
                <p class="form-message">Veuillez corriger les erreurs ci-dessous.</p>
            {% endif %}
            <form method="post" class="form-generic">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn">S’inscrire</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}
