<!DOCTYPE html>
{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>LITRevu</title>
    <meta name="description" content="{% block meta_description %}Publiez des critiques de livres ou d’articles et consultez ou sollicitez une critique de livres à la demande{% endblock %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
</head>
<body>
    <header class="top-banner">
        <div class="banner-content">
            <div class="banner-title-container">
                <img src="{% static 'images/litrevu.png' %}" alt="LogoLitRevu" title="LitRevu" class="banner-logo">
                <h1 class="banner-title">LITRevu</h1>
            </div>
            {% if user.is_authenticated %}
            <nav class="banner-nav">
                <ul>
                    <li><a href="{% url 'reviews:feed' %}">Flux</a></li>
                    <li><a href="{% url 'reviews:user-posts' %}">Posts</a></li>
                    <li><a href="{% url 'reviews:subscriptions' %}">Abonnements</a></li>
                    <li><a href="{% url 'authentication:logout' %}">Se déconnecter</a></li>
                </ul>
            </nav>
            {% endif %}
        </div>
    </header>
    <main>
        {% block content %}
        {% endblock content %}
    </main>
</body>
</html>
