<!DOCTYPE html>
{% load static %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>LITRevu</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
</head>
<body>
    <header class="top-banner">
        <div class="banner-content">
            <div class="banner-title-container">
                <img src="{% static 'images/litrevu.png' %}" alt="Logo" class="banner-logo">
                <h1 class="banner-title">LITRevu</h1>
            </div>
            {% if user.is_authenticated %}
            <nav class="banner-nav">
                <ul>
                    <li><a href="{% url 'feed' %}">Flux</a></li>
                    <li><a href="{% url 'feed' %}">Posts</a></li>
                    <li><a href="{% url 'feed' %}">Abonnements</a></li>
                    <li><a href="{% url 'logout' %}">Se déconnecter</a></li>
                </ul>
            </nav>
            {% endif %}
        </div>
    </header>
    <main>
        {% block content %}
        {% endblock content %}
    </main>
</body>
</html>
